/* GENEREL*/

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  margin: auto;
  text-align: center;
  background-color: #f4f4ed;
}

header {
  position: relative;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 35pt;
  text-align: center;
  text-transform: uppercase;
}

h1,
h2 {
  margin-bottom: 20px;
}

article {
  display: flex;
  justify-content: space-between;
}

/* NAV*/
.logo img {
  height: 8vh;
  width: auto;
  padding-top: 1vh;
}

.desktop-nav {
  display: flex;
  height: 10vh;
  align-items: center;
  background-color: #023047;
}

.nav-links {
  display: flex;
  list-style-type: none;
  background-color: #023047;
}

.nav-links a {
  text-decoration: none;
  color: white;
  background-color: #023047;
}

.nav-links a:hover {
  background-color: #219ebc;
}
/* HAMBURGER NAV*/
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: flex;
  width: 27px;
  height: 2px;
  background-color: white;
  margin: 1vh 5vh;
}

@media (orientation: landscape) {
  .nav-links {
    flex-direction: row;
    gap: 5vh;
    margin: 2vh;
    padding-right: 3vh;
  }

  .nav-links a {
    padding: 1vh;
  }

  .desktop-nav {
    width: 100%;
    justify-content: space-between;
  }
  .nav-element {
    display: block;
  }
}

@media (orientation: portrait) {
  body {
    max-width: 100%;
  }
  .nav-links {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
  }

  .desktop-nav {
    justify-content: space-between;
  }

  .nav-links li {
    margin: 2vh;
    justify-content: space-around;
  }

  .nav-links a {
    padding: 1vh;
  }

  .hamburger {
    display: block;
    margin: 0;
  }

  .nav-element {
    display: none;
  }
}

/* ABOUT US*/

.content {
  display: flex;
  flex-wrap: wrap;
}

.about_tekst {
  flex: 1;
  padding: 40px;
  text-align: left;
  line-height: 24px;
}

.aboutusbilder {
  max-width: 100%;
  padding-top: 20px;
}

@media (orientation: portrait) {
  .content {
    flex-direction: column;
  }
}

/* DOG-N PAGE*/

#innhold{
  padding: 40px;
}

#om{
  padding-bottom: 20px;
}

button {
  background-color: #fb8500;
  padding: 4% 8%;
  border: none;
  font-size: 15pt;
}

#DogNPagebilde {
  width: 40%;
  padding-bottom: 20px;
}

#DogNPage_section {
  margin-left: 30%;
  margin-right: 30%;
  text-align: left;
}

input[type="text"]{
  width: 200px;
  height: 25px;
  border: 1px solid black;
  border-radius: 5px;
}

textarea{
  width: 300px;
  height: 100px;
  border: 1px solid black;
  border-radius: 15px;
}


#soknad{
  color: #fb8500;
  padding-bottom: 20px;
  font-size: 20px;
}

#adopsjon{
  font-size: 18px;
  padding-bottom: 5px;
}

#soknadsinfo{
  font-size: 15px;
  padding-bottom: 20px;
}

#skjema{
  display:block;
}

label, input, textarea{
  margin-bottom: 10px
}

#skjemaside{
  display: none;
  padding-top: 40px;
}


/* DOGS*/
.dog-box {
  border: 5px solid #5aabda;
  border-radius: 10%;
  padding: 10px;
  margin: 10px;
  width: 150px;
  text-align: center;
  display: inline-block;
}
.dog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
} 

.dog-box-bilde{
  width: 130px;
  height: 150px;
  object-fit: cover;
} 
#dogInfo {
  margin: auto;
  max-width: 800px; 
  padding: 20px; 
  }

#dogInfo p{
  text-align: justify;
  }
/* DONATE*/

#støtt {
  margin-top: 20px;
}
#buster {
  /* width: 50%; */
  max-width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  margin: 3% 20%;
  position: relative;
}
#buster img {
  max-width: 100%;
  height: auto;
}


/* ------------------------------------------------------------ */
@media (min-width: 800px){

  #vipps {
    color: #fb8500;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 55%;
    background-color: transparent;
  }
  
  #kontonr {
    color: #fb8500;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 55%;
    background-color: transparent;
  }

  #bunn-firkant {
    margin-top: 10px;
    background-color: #8ecae6;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 500px;
  }

    /* støtte */

  #støttefirkant {
    position: relative;
    background-color: #8ecae6;
    width: 30%;
    height: 20%;
    top: 140px;
    left: 10%;
  }
  #støtte {
    position: absolute;
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin: 15% 15%;
    text-align: center;
    background-color: #8ecae6;
  }

  /* 50kr  */

  #femti {
    background-color: #f4f4ed;
    border-radius: 10px;
    border: 2px solid black;
    position: absolute;
    width: 15%;
    height: 20%;
    top: 20%;
    left: 50%;
  }

  #femtikr {
    position: absolute;
    left: 30%;
    top: 30%;
    font-size: 24px;
    font-weight: bold;
  }

  #Uke {
    position: absolute;
    bottom: -60px;
    color: white;
    font-size: 20px;
    background-color: #8ecae6;
  }

  /* 300kr */

  #trehundre {
    background-color: #f4f4ed;
    border-radius: 10px;
    border: 2px solid black;
    position: absolute;
    width: 15%;
    height: 20%;
    top: 20%;
    left: 70%;
  }

  #trehundrekr {
    position: absolute;
    left: 30%;
    top: 30%;
    font-size: 24px;
    font-weight: bold;
  }

  #måned {
    position: absolute;
    bottom: -60px;
    color: white;
    font-size: 20px;
    background-color: #8ecae6;
  }

  /* 500kr */

  #femhundre {
    background-color: #f4f4ed;
    border-radius: 10px;
    border: 2px solid black;
    position: absolute;
    width: 15%;
    height: 20%;
    top: 60%;
    left: 50%;
  }

  #femhundrekr {
    position: absolute;
    left: 30%;
    top: 30%;
    font-size: 24px;
    font-weight: bold;
  }

  #ID {
    color: white;
    position: absolute;
    bottom: -60px;
    font-size: 20px;
    background-color: #8ecae6;
  }

  /* 1000kr */
  #tusen {
    background-color: #f4f4ed;
    border-radius: 10px;
    border: 2px solid black;
    position: absolute;
    width: 15%;
    height: 20%;
    top: 60%;
    left: 70%;
  }

  #tusenkr {
    position: absolute;
    left: 30%;
    top: 30%;
    font-size: 24px;
    font-weight: bold;
  }

  #kastrering {
    color: white;
    position: absolute;
    bottom: -60px;
    font-size: 20px;
    background-color: #8ecae6;
  }
}

@media (max-width: 800px){

  #vipps {
    color: #fb8500;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
  }
  
  #kontonr {
    color: #fb8500;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
  }

  #bunn-firkant {
    background-color: #8ecae6;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 500px;
  }

    /* støtte */

  #støttefirkant {
    position: relative;
    background-color: #8ecae6;
    width: 390px;
    height: 200px;
    top: 20px;
    left: 20%;
  }
  #støtte {
    position: absolute;
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin: 15% 15%;
    text-align: center;
    background-color: #8ecae6;
  }

  /* 50kr  */

  #femti {
    background-color: #f4f4ed;
    border-radius: 10px;
    border: 2px solid black;
    position: absolute;
    width: 30%;
    height: 10%;
    top: 45%;
    left: 10%;
  }

  #femtikr {
    position: absolute;
    left: 30%;
    top: 30%;
    font-size: 24px;
    font-weight: bold;
  }

  #Uke {
    position: absolute;
    bottom: -60px;
    color: white;
    font-size: 20px;
    background-color: #8ecae6;
  }

  /* 300kr */

  #trehundre {
    background-color: #f4f4ed;
    border-radius: 10px;
    border: 2px solid black;
    position: absolute;
    width: 30%;
    height: 10%;
    top: 45%;
    left: 50%;
  }

  #trehundrekr {
    position: absolute;
    left: 30%;
    top: 30%;
    font-size: 24px;
    font-weight: bold;
  }

  #måned {
    position: absolute;
    bottom: -60px;
    color: white;
    font-size: 20px;
    background-color: #8ecae6;
  }

  /* 500kr */

  #femhundre {
    background-color: #f4f4ed;
    border-radius: 10px;
    border: 2px solid black;
    position: absolute;
    width: 30%;
    height: 10%;
    top: 70%;
    left: 10%;
  }

  #femhundrekr {
    position: absolute;
    left: 30%;
    top: 30%;
    font-size: 24px;
    font-weight: bold;
  }

  #ID {
    color: white;
    position: absolute;
    bottom: -60px;
    font-size: 20px;
    background-color: #8ecae6;
  }

  /* 1000kr */
  #tusen {
    background-color: #f4f4ed;
    border-radius: 10px;
    border: 2px solid black;
    position: absolute;
    width: 30%;
    height: 10%;
    top: 70%;
    left: 50%;
  }

  #tusenkr {
    position: absolute;
    left: 30%;
    top: 30%;
    font-size: 24px;
    font-weight: bold;
  }

  #kastrering {
    color: white;
    position: absolute;
    bottom: -60px;
    font-size: 20px;
    background-color: #8ecae6;
  }
}


/* HOMEPAGE*/

#homepageBody {
  margin: 0% 0% 0% 0%;
}

.finnDinNyeBestevenn {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  max-width: 80%;
  margin-bottom: 5%;
}

.homepage--mainImage {
  width: 50%;
  margin-left: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
}
.homepage--information {
  margin-left: 10%;
  line-height: 2rem;
}
.homepage--information > h2 {
  margin-top: 0%;
}

/*Styling av card*/

.cardSection {
  padding: 3%;
  background: lightblue;
  display: flex;
  flex-direction: column;
}

#cardSectionHeader {
  text-align: center;
}

#orangeText {
  color: orange;
}
#homepage--cardOrganizer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cardHolder--informationProcess {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid black;
  border-radius: 1rem;
  width: 12%;
  text-justify: center;
  margin-left: 15%;
  background: white;
  margin-bottom: 5%;
  margin-top: 3%;
}

.cardSection--circle {
  border: 0.1rem solid orange;
  width: 20%;
  height: 20%;
  text-align: center;
  border-radius: 50%;
  margin: auto;
  margin-top: 5%;
}
.cardSection--cardHeader {
  margin-top: 5%;
}
.cardSection--cardText {
  margin: 5% 10% 10% 10%;
}

/*Footer*/

.grid {
  display: grid;
  grid-template-rows: 30% 10% 10% 10% 40%;
  grid-template-columns: 10% 2fr 1fr 1fr 2fr 3fr 5fr;
  background-color: #023047;
  text-align: left;
  color: white;
  font-size: 80%;
}
.grid-item-1 {
  grid-column: 2 / 3;
  grid-row: 1/2;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: -10%;
  width: 100%;
}
.grid-item-2 {
  margin-top: 4%;
  grid-column: 2 / 3;
  grid-row: 2/3;
}

.grid-item-3 {
  grid-column: 7 / 8;
  grid-row: 2/3;
}

.grid-item-4,
.grid-item-5 {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 10%;
  margin-top: 10%;
}
.grid-item-5 {
  margin-left: 15%;
}

.grid-item-6 {
  grid-column: 4/6;
  grid-row: 4/5;
}

.grid-item-7 {
  grid-column: 4/6;
  grid-row: 5/6;
}

.grid-item-8 {
  grid-column: 6/7;
  grid-row: 4/5;
  margin-left: 8%;
}

.grid-item-9,
.grid-item-10,
.grid-item-11 {
  grid-column: 7/8;
  grid-row: 3/4;
  margin-top: 0%;
  margin-left: -1%;
  width: 5%;
}

.grid-item-10 {
  margin-left: 8%;
}

.grid-item-11 {
  margin-left: 16%;
}

@media (max-width: 900px) {
  /*HomepageInfo*/
  .cardHolder--informationProcess {
    width: 40%;
    margin: 3% auto;
    margin-bottom: 5%;
  }
  #cardSectionHeader {
    font-size: 1.6em;
  }
  .homepage--mainImage {
    width: auto;
  }
  .finnDinNyeBestevenn {
    flex-direction: column;
    max-width: 100%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .homepage--information {
    text-align: center;
  }
}

@media (max-width: 600px) {
  /*Footer*/
  .grid {
    grid-template-rows: auto;
    grid-template-columns: 100%;
    margin: 0% 0% 0% 0%;
  }
  .grid-item-1,
  .grid-item-2,
  .grid-item-3,
  .grid-item-4,
  .grid-item-5,
  .grid-item-6,
  .grid-item-7,
  .grid-item-8,
  .grid-item-9,
  .grid-item-10,
  .grid-item-11 {
    grid-column: 1/1;
    margin: 0% 0% 0% 0%;
    font-size: 80%;
    text-align: center;
    margin-top: 5%;
  }

  /*hjemforpoter-logo*/
  .grid-item-1 {
    grid-row: 1;
    margin-top: 0%;
  }
  /*Kontakt oss*/
  .grid-item-2 {
    grid-row: 2;
    margin-left: -5%;
    margin-top: 0%;
  }
  /*Følg oss*/
  .grid-item-3 {
    grid-row: 7;
  }
  /*Telefon*/
  .grid-item-4 {
    grid-row: 3;
    margin-left: 35%;
    width: 5%;
    margin-top: 4%;
  }
  /*Number*/
  .grid-item-5 {
    grid-row: 3;
    margin-left: 42%;
  }

  /*Postegata 47*/
  .grid-item-6 {
    grid-row: 6;
  }

  /*7035 Trondheim*/
  .grid-item-7 {
    grid-row: 5;
  }

  /*Post@hjemforpoter.no*/
  .grid-item-8 {
    grid-row: 4;
  }

  /*instaicon*/
  .grid-item-9 {
    grid-row: 8;
    margin-left: 28%;
    width: 5%;
  }
  /*facebookicon*/
  .grid-item-10 {
    grid-row: 8;
    margin-left: 48%;
    width: 5%;
  }
  /*linkedin-icon*/
  .grid-item-11 {
    grid-row: 8;
    margin-left: 68%;
    width: 5%;
  }

  .grid-item-9,
  .grid-item-10,
  .grid-item-11 {
    margin-bottom: 3%;
  }
}
